#banner{
    width: 100%;
}

.principal{
    text-align: center;
    background: #CCCCCC;
    padding: 30px;
}

.texto-principal{
    width: 940px; 
    display: inline-block;
    line-height: 24px;
}

.titulo-principal{
    padding-left: 20px;
}

.alinhar-centro{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: #ff0000;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}

.itens{
    font-style: italic;
}


.lista{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-beneficio{
    width: 50%;
}

.container-beneficios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

